#nav{
    background-color: white;
    position: fixed;
    z-index: 100;
    font-family: 'Montserrat', sans-serif;
}
#nav a {
     color: black;
 }

#navbarText a{
    color:rgb(182, 177, 177);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2.3vh;
}
#navbarText a:hover{
    color:black;
    font-weight: 600;
}